<!-- ログインユーザーかどうか -->
<% if logged_in? %>
  <!-- 自分が作成した Wish -->
  <% if current_user.my_wish?(wish) %>
    <div class="bg-base-200 py-5 flex items-center rounded-box" id=<%= "wish-frame-#{wish.id}" %>>
      <!-- タイトル & チェックボックス判定 -->
      <%= render 'wishes/checked_wish_title', wish: wish %>
      <div class="icons">
        <!-- 編集アイコン -->
        <%= link_to edit_wish_path(wish), data: { turbo_stream: true } do %>
          <i class="fa-solid fa-pen-to-square text-2xl mx-1"></i>
        <% end %>
        <!-- 削除アイコン -->
        <%= link_to wish_path(wish), data: { turbo_method: :delete, turbo_confirm: 'この Wish を削除しますか？' } do %>
          <i class="fa-solid fa-eraser text-2xl mx-1"></i>
        <% end %>
      </div>
    </div>
  <!-- 他ユーザーが作成した Wish -->
  <% else %>
    <%= render 'wishes/checked_disable_wish', wish: wish %>
  <% end %>
<!-- 未ログインユーザー用の Wish -->
<% else %>
  <%= render 'wishes/checked_disable_wish', wish: wish %>
<% end %>