<div class="flex justify-between items-center basis-11/12" id= <%= "wish_#{wish.id}" %> >
  <div class="form-control basis-5/6">
    <div class="label">
      <%= link_to uncheck_path(wish), class: "cursor-pointer flex items-center", data: { turbo_stream: true, turbo_method: :post } do %>
        <input type="checkbox" checked="checked" class="checkbox checkbox-accent mr-3" />
        <span class="label-text text-xl text-zinc-400 line-through">
          <%= wish.title %>
        </span>
      <% end %>
    </div>
  </div>
  <!-- 作成日 -->
  <div class="date">
    <div class="ml-3">作成日：<%= l wish.created_at %></div>
    <div class="text-zinc-400 line-through ml-3">達成日：<%= l wish.updated_at %></div>
  </div>
</div>