<div class="flex justify-between items-center basis-11/12" id= <%= "wish_#{wish.id}" %>>
  <div class="form-control basis-5/6">
    <div class="label">
      <%= link_to check_path(wish), class: "cursor-pointer flex items-center", data: { turbo_stream: true, turbo_method: :post }, id: "wish_link_#{wish.id}" do %>
        <%# チェックボックス %>
        <%= render 'wishes/uncheckbox' %>
        <%# タイトル %>
        <span class="label-text text-base md:text-xl">
          <%= wish.title %>
        </span>
      <% end %>
    </div>
  </div>
  <!-- 作成日 -->
  <div class="text-xs md:text-base ml-1 md:ml-3 md:min-w-40">作成日：<%= l wish.created_at %></div>
</div>