<!-- 自分が作成した Wish なら編集ページへのリンク -->
<% if current_user.my_wish?(wish) %>
  <div class="bg-base-300 rounded-box py-5 my-3 flex items-center">
    <%= link_to check_wish_path(wish), data: { turbo_method: :post } do %>
      <div class="form-control mx-3">
        <label class="label cursor-pointer">
          <input type="checkbox" class="checkbox checkbox-accent mr-3" />
          <span class="label-text text-xl">
            <%= wish.title %>
          </span>
        </label>
      </div>
    <% end %>
    <%= link_to edit_wish_path(wish) do %>
      <i class="fa-solid fa-pen-to-square text-2xl mx-1"></i>
    <% end %>
    <%= link_to wish_path(wish), data: { turbo_method: :delete, turbo_confirm: 'この Wish を削除しますか？' } do %>
      <i class="fa-solid fa-eraser text-2xl mx-1"></i>
    <% end %>
  </div>
<!-- 他のユーザーが作成した Wish なら表示のみ -->
<% else %>
  <div class="bg-base-300 rounded-box py-5 my-3 flex items-center">
    <div class="form-control mx-3">
        <label class="label">
          <input type="checkbox" class="checkbox mr-3" disabled />
          <span class="label-text text-xl">
            <%= wish.title %>
          </span>
        </label>
      </div>
  </div>
<% end %>