<div class="bg-base-200 px-2 py-5 flex justify-between items-center rounded-box">
  <div class="form-control basis-5/6">
    <div class="label justify-start">
      <input type="checkbox" class="checkbox mr-3" disabled />
      <span class="label-text text-base md:text-xl">
        <%= wish.title %>
      </span>
    </div>
  </div>
  <!-- 作成日 -->
  <div class="text-xs md:text-base ml-1 md:mr-3 md:min-w-40">作成日：<%= l wish.created_at %></div>
  <div class="tooltip" data-tip="マイリストに追加する">
    <i class="fa-regular fa-circle-check mx-1 md:mx-3 text-xl md:text-3xl cursor-pointer" onclick= <%= "my_modal_#{wish.id}.showModal()" %>></i>
  </div>
  <%# モーダル部分 %>
  <dialog id= <%= "my_modal_#{wish.id}" %> class="modal">
    <div class="modal-box w-5/6">
      <p class="py-4 text-base md:text-xl"><%= "「#{wish.title}」をマイリストに追加しますか？"%></p>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn btn-outline btn-sm md:btn-md">キャンセル</button>
        </form>
        <%# 削除へのリンク %>
        <%= link_to add_path(wish), data: { turbo_stream: true } do %>
          <button class="btn btn-outline btn-accent btn-sm md:btn-md">追加</button>
        <% end %>
      </div>
    </div>
  </dialog>
</div>