<!-- ログインユーザーかどうか -->
<% if logged_in? %>
  <!-- 自分が作成した Wish -->
  <% if current_user.my_wish?(wish) %>
    <div class="bg-base-200 py-5 flex items-center rounded-box justify-between px-4" id=<%= "wish_frame_#{wish.id}" %>>
      <!-- タイトル & チェックボックス判定 -->
      <%= render 'wishes/unchecked_wish_title', wish: wish %>
      <%# 編集アイコン & 削除アイコン %>
      <%= render 'wishes/icons', wish: wish %>
    </div>
  <!-- 他ユーザーが作成した Wish -->
  <% else %>
    <%= render 'wishes/unchecked_disable_wish', wish: wish %>
  <% end %>
<!-- 未ログインユーザー用の Wish -->
<% else %>
  <%= render 'wishes/unchecked_disable_wish', wish: wish %>
<% end %>