<!-- ログインユーザーかどうか -->
<% if logged_in? %>
  <!-- 自分が作成した Wish -->
  <% if current_user.my_wish?(wish) %>
    <div class="bg-base-200 py-5 flex items-center rounded-box">
      <!-- タイトル & チェックボックス判定 -->
      <%= link_to check_wish_path(wish), data: { turbo_method: :post } do %>
        <div class="form-control mx-3">
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox checkbox-accent mr-3" />
            <span class="label-text text-xl">
              <%= wish.title %>
            </span>
          </label>
        </div>
      <% end %>
      <!-- 編集アイコン -->
      <%= link_to edit_wish_path(wish) do %>
        <i class="fa-solid fa-pen-to-square text-2xl mx-1"></i>
      <% end %>
      <!-- 削除アイコン -->
      <%= link_to wish_path(wish), data: { turbo_method: :delete, turbo_confirm: 'この Wish を削除しますか？' } do %>
        <i class="fa-solid fa-eraser text-2xl mx-1"></i>
      <% end %>
    </div>
  <!-- 他ユーザーが作成した Wish -->
  <% else %>
    <%= render 'wishes/unchecked_disable_wish', wish: wish %>
  <% end %>
<!-- 未ログインユーザー用の Wish -->
<% else %>
  <%= render 'wishes/unchecked_disable_wish', wish: wish %>
<% end %>