<div class="card bg-base-200 shadow-xl mb-3 h-full" id=<%= "wish_list_#{wish_list.id}" %>>
  <div class="card-body p-4 pb-0 lg:px-8 lg:pt-6">
    <%= link_to wish_list_path(wish_list.user.id) do %>
      <h2 class="card-title text-base md:text-lg lg:text-xl h-full"><%= wish_list.title %></h2>
    <% end %>
    <div class="flex items-center justify-between">
      <progress class="progress progress-primary w-5/6" value="<%= rand(100) %>" max="100"></progress>
      <div class="card-actions justify-end mb-0">
        <%= render 'favorites/favorite_icon', wish_list: wish_list %>
      </div>
    </div>
  </div>
</div>