<div class="w-5/6 mx-auto max-w-screen-xl">
  <div class="flex justify-between items-center mt-5 mb-10 h-12" id='list_header'>
    <!-- タイトル -->
    <div class="text-xl"><%= @wish_list.title %></div>
    <!-- ログインユーザーのリストにのみ -->
    <% if logged_in? && current_user.my_list?(@wish_list) %>
      <div class="flex gap-3 ml-3">
        <%# アイコン %>
        <!-- 編集アイコン -->
        <div class="tooltip" data-tip="名前の変更">
          <%= link_to edit_wish_list_path(@wish_list), data: { turbo_stream: true } do %>
            <i class="fa-solid fa-pen-to-square text-2xl"></i>
          <% end %>
        </div>
        <%# 削除アイコン %>
        <div class="tooltip" data-tip="リストの削除">
          <i class="fa-solid fa-eraser text-2xl cursor-pointer"  onclick= <%= "my_modal_#{@wish_list.id}.showModal()" %>></i>
        </div>
        <%# モーダル部分 %>
        <dialog id= <%= "my_modal_#{@wish_list.id}" %> class="modal">
          <div class="modal-box">
            <p class="py-4 text-xl"><%= "「#{@wish_list.title}」を削除しますか？"%></p>
            <p class="py-4 text-xl text-error"><%= "リストを削除するとアカウントも削除されます"%></p>
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn btn-outline">キャンセル</button>
              </form>
              <%# 削除へのリンク %>
              <%= link_to wish_list_path(@wish_list), data: { turbo_stream: true, turbo_method: :delete } do %>
                <button class="btn btn-outline btn-error">削除</button>
              <% end %>
            </div>
          </div>
        </dialog>
      </div>
      <div class="flex ml-auto">
        <%# 公開設定の場合のみ%>
        <% if @wish_list.is_public %>
          <%= render 'shared/share_X_button', wish_list: @wish_list %>
        <% end%>
        <%# 公開設定ボタン %>
        <%= render 'toggle', wish_list: @wish_list %>
        </div>
    <% end %>
  </div>

  <!-- ログインユーザーのリストにのみ新規作成欄を表示 -->
  <% if logged_in? && current_user.my_list?(@wish_list) %>
    <%= render 'wishes/new', wish: @wish %>
  <% end %>

  <!-- Wish 一覧を表示 -->
  <div class="divide-y-2 divide-base-100 divide-dashed" id='wishes'>
    <% if @wishes.present? %>
        <%= render(partial: 'wishes/wish', collection: @wishes) %>
    <% else %>
      <%= render 'wishes/nothing_wishes' %>
    <% end %>
  </div>
</div>