<div class="w-5/6 mx-auto max-w-screen-xl">
  <div class="flex justify-between items-center mt-5 mb-10">
    <!-- タイトル -->
    <%= @wish_list.title %>
    <%# X シェアリンク %>
    <%= link_to "Xでシェア", "https://twitter.com/share?url=#{wish_list_url(@wish_list)}&text=#{@wish_list.title}を作成したよ！", :onclick=>"window.open(this.href,'hoge', 'height=480, width=640');return false;", rel: "noopener noreferrer", data: { toggle: "tooltip", placement: "bottom" }%>
    <!-- ログインユーザーのリストにのみ公開設定トグルボタンを表示 -->
    <% if logged_in? && current_user.my_list?(@wish_list) %>
      <%= render 'toggle', wish_list: @wish_list %>
    <% end %>
  </div>

  <!-- ログインユーザーのリストにのみ新規作成欄を表示 -->
  <% if logged_in? && current_user.my_list?(@wish_list) %>
    <%= render 'wishes/new', wish: @wish %>
  <% end %>

  <!-- Wish 一覧を表示 -->
  <div class="divide-y-2 divide-base-100 divide-dashed" id='wishes'>
    <%= render(partial: 'wishes/wish', collection: @wishes) || "Wish がありません" %>
  </div>
</div>