<div class="w-5/6 mx-auto max-w-screen-xl">
  <div class="flex justify-between items-center mt-5 mb-10">
    <!-- タイトル -->
    <%= @wish_list.title %>
    <!-- ログインユーザーのリストにのみ -->
    <% if logged_in? && current_user.my_list?(@wish_list) %>
      <div class="share flex">
      <%# 公開設定ボタン %>
      <%= render 'toggle', wish_list: @wish_list %>
      <%# 公開設定の場合のみ%>
      <% if @wish_list.is_public %>
        <%= render 'shared/share_X_button' %>
      <% end%>
      </div>
    <% end %>
  </div>

  <!-- ログインユーザーのリストにのみ新規作成欄を表示 -->
  <% if logged_in? && current_user.my_list?(@wish_list) %>
    <%= render 'wishes/new', wish: @wish %>
  <% end %>

  <!-- Wish 一覧を表示 -->
  <div class="divide-y-2 divide-base-100 divide-dashed" id='wishes'>
    <%= render(partial: 'wishes/wish', collection: @wishes) || "Wish がありません" %>
  </div>
</div>