<% content_for :head do %>
  <title>WishWay｜<%= @wish_list.title %></title>
<% end %>

<div class="w-5/6 mx-auto max-w-screen-xl">
  <%# 一覧ページへ戻るアイコン %>
  <%= render 'back' %>
  <%# タイトル、編集＆削除アイコン、公開設定の説明文、Xシェアボタン、公開アイコン %>
  <%= render 'header', wish_list: @wish_list %>

  <!-- ログインユーザーのリストにのみ新規作成欄を表示 -->
  <% if logged_in? && current_user.my_list?(@wish_list) %>
    <%= render 'wishes/new', wish: @wish %>
  <% end %>

  <!-- Wish 一覧を表示 -->
  <div class="divide-y-2 divide-base-100 divide-dashed" id='wishes'>
    <% if @wishes.present? %>
        <%= render(partial: 'wishes/wish', collection: @wishes) %>
    <% else %>
      <%= render 'wishes/nothing_wishes' %>
    <% end %>
  </div>
</div>