<p><%= @user.name %>様</p>
<p>==============================================</p>
<p>「<%= @user.wish_list.title %>」の作成から<%= @time %>ヶ月が経過したよ！</p>
<p>自分のリストを見返してみよう！</p>
<p><a href="<%= @url %>"><%= @url %></a></p>
<br>
<p>※このメールはお知らせ専用のアドレスより配信しております。</p>
<p>このメールに直接返信してのお問い合わせにはご対応いたしかねますのでご了承ください。</p>