<% content_for :head do %>
  <title>WishWay｜新規登録</title>
<% end %>

<div class="w-5/6 mx-auto max-w-screen-xl">
  <div class="mt-10 mb-5">
    <h1 class="text-4xl md:text-5xl font-bold mb-10 pb-4 border-b-4 border-dashed border-secondary text-center">
      新規登録
    </h1>

    <div class="w-full md:w-2/3 lg:w-1/2 mx-auto">
      <%# バリデーションエラーメッセージ表示 %>
      <%= render 'shared/error', object: @user %>
    </div>

    <%= form_with model: @user do |form| %>
      <!-- ユーザーネーム入力欄 -->
      <%= form.label :name, 'ユーザーネーム', class: "label mb-2 w-full md:w-1/2 mx-auto" %>
      <%= form.text_field :name, class: "input input-bordered form-control mb-5 w-full md:w-1/2 mx-auto" %>

      <!-- メールアドレス入力欄 -->
      <%= form.label :email, 'メールアドレス', class: "label mb-2 w-full md:w-1/2 mx-auto" %>
      <%= form.text_field :email, class: "input input-bordered form-control mb-5 w-full md:w-1/2 mx-auto" %>

      <!-- パスワード入力欄 -->
      <%= form.label :password, 'パスワード', class: "label mb-2 w-full md:w-1/2 mx-auto" %>
      <%= form.password_field :password, class: "input input-bordered form-control mb-5 w-full md:w-1/2 mx-auto" %>

      <!-- パスワード確認入力欄 -->
      <%= form.label :password_confirmation, 'パスワード再入力', class: "label mb-2 w-full md:w-1/2 mx-auto" %>
      <%= form.password_field :password_confirmation, class: "input input-bordered form-control mb-5 w-full md:w-1/2 mx-auto" %>

      <div class="w-1/2 mx-auto flex justify-center text-center">
        <%= form.submit '新規登録', class: "btn mt-1" %>
      </div>
    <% end %>
  </div>
  <%# Google 認証リンク %>
  <div class="text-center text-sm">
    OR
  <div>
  <!-- Google ログイン -->
  <%= link_to auth_at_provider_path(provider: :google) do %>
    <%= image_tag "google_sign_up.png", class: "w-2/3 md:w-1/3 lg:w-1/4 xl:w-1/6 mx-auto py-5" %>
  <% end %>
  <%# ログインページへのリンク %>
  <div class="mx-auto text-center">
    <%= link_to "ログインページへ", login_path, data: { turbo: false }, class: "link link-neutral text-base md:text-xl"%>
  </div>
</div>