<!DOCTYPE html>
<html data-theme="retro">
  <head>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta property="og:url" content="https://wishway.onrender.com/wish_lists" />
    <meta property="og:title" content="WishWay" />
    <meta property="og:description" content="バケットリストを作成したよ" />
    <meta property="og:image" content="https://i.gyazo.com/7b31f55dfa608addea69247f09c0bb28.jpg" />
    <%= yield :head %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YHG5T63NT7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YHG5T63NT7');
    </script>
    <!-- Google Analytics 終了 -->

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/789a4f769e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="font-kiwimaru text-neutral flex flex-col min-h-screen">
      <!-- ヘッダーの表示 -->
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <div class="my-5">
      <!-- フラッシュメッセージの表示 -->
      <%= render "shared/flash" %>
      <%= yield %>
      </div>
      <!-- フッター -->
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
