<!DOCTYPE html>
<html class="min-h-screen" data-theme="retro">
  <head>
    <!-- リンクにホバーするだけでHTTPリクエストが送られる状況を防ぐ -->
    <meta name="turbo-prefetch" content="false">

    <!-- Twitter リンクカード -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <%# ウィッシュリストが存在するときは、そのリストの詳細ページ %>
    <% if @wish_list %>
      <meta property="og:url" content=<%= "#{wish_list_url(@wish_list.user)}" %>  />
    <%# ウィッシュリストが存在しないときは、トップページ %>
    <% else %>
      <meta property="og:url" content=<%= "#{root_url}" %>  />
    <% end %>
    <meta property="og:title" content="WishWay" />
    <meta property="og:description" content="バケットリストの作成と共有" />
    <meta property="og:image" content="https://i.gyazo.com/7b31f55dfa608addea69247f09c0bb28.jpg" />
    <!-- Twitter リンクカードここまで -->

    <%= yield :head %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YHG5T63NT7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YHG5T63NT7');
    </script>
    <!-- Google Analytics 終了 -->

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/789a4f769e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="font-kiwimaru text-neutral min-h-screen w-full relative pb-12">
      <!-- ヘッダーの表示 -->
      <div class="w-full">
        <% if logged_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
      </div>
      <div class="flex flex-col md:flex-none w-full">
        <div class="my-5">
        <!-- フラッシュメッセージの表示 -->
        <%= render "shared/flash" %>
        <%= yield %>
        </div>
      </div>
      <div class="absolute bottom-0 w-full">
        <!-- フッター -->
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
